<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <%- include("head") -%>
  <head>
  <body>

  <!-- header -->
      <%- include("header") -%>
   <!-- /header -->

   <!-- Menu -->
      <%- include("menu") -%>
   <!-- /Menu -->

<!-- inicio -->
<!--breadcrumb -->
    <div id="breadcrumbs-container">
      <div class="container">
        <div class="row">
          <div class="col-xs">
            <nav class="breadcrumb">
            <a class="breadcrumb-item" href="/">Home</a>
              <a class="breadcrumb-item" href="#">Catálogo</a>
              <span class="breadcrumb-item active">Todos los productos</span>
            </nav>
          </div>
        </div>
      </div>
    </div>

<!--breadcrumb -->
  
<!-- inicio -->

<!-- Carrito container -->



<div class="carrito-container">
  <div class="container">
    <div class="row">
    <!-- producto-carrito-->
      <div class="col-xs-12">
        <div class="producto-carrito card">
          <div class="row">
            <div class="col-xs-12 col-md-2">
              <img class="img-responsive" width=100%  src="estatico/images/productos/chicorita.jpg">
            </div>
            <div class="col-xs-12 col-md-5 ">
              <h4 class="product-name titulo-producto">
                Chikorita 3D
              </h4>
              <p class="descripcion-producto">
                La chikorita 3d!!! en verde porque es chicorita Bara Bara
              </p>
              <p class="descripcion-producto">
                <a class="precio" href="#">Eliminar</a>
              </p>
              </div>
                <div class="col-xs-12 col-md-5 text-xs-center flex-xs-middle">
                  <div class="input-group row flex-items-xs-middle flex-items-xs-center">
                    <div class="col-xs-6 col-md-6 text-xs-right">
                      <h5 class="precio ">$ 25.00
                        <span class="text-muted">x</span>
                      </h5>
                    </div>
                    <div class="col-xs-4 col-md-4 text-xs-left">
                      <input type="text" class="form-control " value="1">
                    </div>
                    <div class="col-xs-2  col-md-2 "><label>pza</label></div>
                  </div>
                </div>
          </div>
        </div>
      </div>
    <!-- /producto-carrito-->

    <!-- producto-carrito-->
      <div class="col-xs-12">
        <div class="producto-carrito card">
          <div class="row">
            <div class="col-xs-12 col-md-2">
              <img class="img-responsive" width=100%  src="estatico/images/productos/caseraspberry.png">
            </div>
            <div class="col-xs-12 col-md-5 ">
              <h4 class="product-name titulo-producto">
                Case para Raspberry
              </h4>
              <p class="descripcion-producto">
                Case para raspberry PI diferentes colores
              </p>
              <p class="descripcion-producto">
                <a class="precio" href="#">Eliminar</a>
              </p>
              </div>
                <div class="col-xs-12 col-md-5 text-xs-center flex-xs-middle">
                  <div class="input-group row flex-items-xs-middle flex-items-xs-center">
                    <div class="col-xs-6 col-md-6 text-xs-right">
                      <h5 class="precio ">$ 90.00
                        <span class="text-muted">x</span>
                      </h5>
                    </div>
                    <div class="col-xs-4 col-md-4 text-xs-left">
                      <input type="text" class="form-control " value="1">
                    </div>
                    <div class="col-xs-2  col-md-2 "><label>pza</label></div>
                  </div>
                </div>
          </div>
        </div>
      </div>
    <!-- /producto-carrito-->
    </div>
    
  </div>

</div>


<!-- / Carrito container -->



<!-- /inicio -->

  <!-- footer -->
  <footer id="footer-container">
    <div class="container">
      <div class="row text-xs-center text-md-left">
        <div class="col-md-4">
          <form id="suscribeForm" action="#" > <!-- method=¨POST"-->
            <h4 class="text-uppercase">¿Quieres recibir todas las novedades?</h4>
            <div class="form-group">
              <input type="email" class="form-control" id="email" name="email" placeholder="tu@correo.com">
              <small class="form-text text-muted">No compartiremos tu información con nadie más</small>
            </div>
            <button type="submit" class="btn btn-primary form-text"> Suscribirme</button>
          </form>
        </div>
        <div class="col-md-3 offset-md-5 navf">
          <h4> Navegación</h4>
          <ul class="nav">
             <li class="nav-item">
                  <a href="/"" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                  <a href="catalogo" class="nav-link">Productos</a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">FAQ</a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">Quienes Somos</a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link hidden-sm-up">Carrito</a>
                </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <!-- /footer -->
 
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
    <script src="/estatico/js/app.js"></script>
    <script>
      mostrarModal()
    </script>
  </body>
</html>