<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <%- include("head") -%>
  <head>
  <body>

  <!-- header -->
      <%- include("header") -%>
   <!-- /header -->

   <!-- Menu -->
      <%- include("menu") -%>
   <!-- /Menu -->

<!-- inicio -->
<!--breadcrumb -->
    <div id="breadcrumbs-container">
      <div class="container">
        <div class="row">
          <div class="col-xs">
            <nav class="breadcrumb">
            <a class="breadcrumb-item" href="catalogo">Todos los productos</a>
            <a class="breadcrumb-item" href="carrito">Carrito</a>
              <span class="breadcrumb-item active" href="#">Datos personales</span>
            </nav>
          </div>
        </div>
      </div>
    </div>

<!--breadcrumb -->
  
<!-- inicio -->

<!-- formulario-container -->





<div class="formulario-container">
  <div class="container">
    <div class="producto-carrito card" data-example-id="">
<form>
<div class="form-group row">
    <label class="col-xs-12 col-md-2 col-form-label text-md-right" for="nombre-datos">Nombre:</label>
    <div class="col-xs-12 col-md-10">
      <input type="text" class="form-control" id="nombre-datos" name="nombre-datos" aria-describedby="nombre-
      help" placeholder="Escribe tu nombre" required>
      <small id="nombre-help" class="form-text text-muted">La persona que recibirá el paquete</small>
    </div>
</div>
<div class="form-group row">
    <label class="col-xs-12 col-md-2 col-form-label text-md-right" for="telefono-datos">Telefono:</label>
    <div class="col-xs-12 col-md-10">
      <input type="tel" class="form-control" id="telefono-datos" name="telefono-datos" aria-describ
      edby="telefono-help" placeholder="Escribe tu telefono con lada" required>
      <small id="telefono-help" class="form-text text-muted">Unicamente se usará en caso de algun problema en paqueteria</small>
    </div>
</div>
<div class="form-group row">
    <label class="col-xs-12 col-md-2 col-form-label text-md-right" for="calle-datos">Calle:</label>
    <div class="col-xs-12 col-md-10">
      <input type="text" class="form-control" id="calle-datos" name="calle-datos" required  placeholder="Incluir número">
    </div>
</div>
<div class="form-group row">    
    <label class="col-xs-12 col-md-2 col-form-label text-md-right" for="colonia-datos">Colonia:</label>
    <div class="col-xs-12 col-md-10">
      <input type="text" class="form-control" id="colonia-datos" name="colonia-datos"  required placeholde
      r="Tu Colonia">
    </div>
</div>
<div class="form-group row">    
    <label class="col-xs-12 col-md-2 col-form-label text-md-right" for="cp-datos">Codigo Postal</label>
    <div class="col-xs-12 col-md-10">
      <input type="text" class="form-control" id="cp-datos" name="cp-datos" required placeholder="7 digitos">
    </div>
</div>
<div class="form-group row">
    <label class="col-xs-12 col-md-2 col-form-label text-md-right" for="edo-datos">Estado</label>
    <div class="col-xs-12 col-md-10">
      <input type="text" class="form-control" id="edo-datos" name="edo-datos" required>
    </div>
</div>
<div class="form-group row">
    <label class="col-xs-12 col-md-2 col-form-label  text-md-right" for="ciudad-datos">Ciudad / Municipio</label>
    <div class="col-xs-12 col-md-10">
      <input type="text" class="form-control" id="ciudad-datos" name="ciudad-datos" required>
    </div>
</div>

<div class="form-group row">
  <label class="col-xs-12 col-md-2 col-form-label  text-md-right" for="email-datos">Correo electronico</label>
  <div class="col-xs-12 col-md-10">
      <input type="email" class="form-control" id="email-datos" name="email-datos" required aria-describ
      edby="email-help" placeholder="Tu@email.com">
      <small id="email-help" class="form-text text-muted">No compartiremos tu email con nadie,  nos pondremos en contacto por medio de el, es muy importante</small>
  </div>
</div>

<div class="form-group row">
  <label class="col-xs-12 col-md-2 col-form-label  text-md-right" for="comentario-datos">Comentarios acerca de tu compra:</label>
  <div class="col-xs-12 col-md-10">
    <textarea class="form-control" placeholder="Escribe si tienes algun comentario, o detalles como si nece
    sitas especificar color" id="comentario-datos" rows="3"></textarea>
  </div>
</div>



  <div class="form-group row">
    <div class="col-xs-12 text-xs-center">
      <a id="comprar" href="pago" class="btn btn-primary">Comprar</a>
    </div>
  </div>
</form>
</div>
  </div>  

</div>


<!-- / formulario-container -->



<!-- /inicio -->

  <!-- footer -->
  <footer id="footer-container">
    <div class="container">
      <div class="row text-xs-center text-md-left">
        <div class="col-md-4">
          <form id="suscribeForm" action="#" > <!-- method=¨POST"-->
            <h4 class="text-uppercase">¿Quieres recibir todas las novedades?</h4>
            <div class="form-group">
              <input type="email" class="form-control" id="email" name="email" placeholder="tu@correo.com">
              <small class="form-text text-muted">No compartiremos tu información con nadie más</small>
            </div>
            <button type="submit" class="btn btn-primary form-text"> Suscribirme</button>
          </form>
        </div>
        <div class="col-md-3 offset-md-5 navf">
          <h4> Navegación</h4>
          <ul class="nav">
             <li class="nav-item">
                  <a href="/"" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                  <a href="catalogo" class="nav-link">Productos</a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">FAQ</a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">Quienes Somos</a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link hidden-sm-up">Carrito</a>
                </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <!-- /footer -->
 
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
      <%- include("js") -%>
      <script src="/estatico/js/setdatos.js"></script>

  </body>
</html>