<header id="header-container">
  <div class="container">
        <div class="row flex-items-xs-middle flex-items-xs-center flex-items-md-around ">
          <div class="col-xs-9  col-sm-10 col-md-6 text-xs-left text-sm-center text-md-left columna">
            <h1 class="hidden-xs-down">Prosoft Print3r</h1>
            <h3 class="hidden-sm-up">Prosoft Print3r</h3>
          </div>
          <div class="col-xs-1 col-sm-2 col-md-6  text-xs-center  text-md-right columna">
            <a href="#"><i class=" fa fa-shopping-cart"></i></a>
            <span class="hidden-sm-down text-uppercase font-weight-bold">
                <a  class="nav-link" href="carrito">Carrito</a>
              </span>
              
          </div>
          <div class="col-xs-1 hidden-sm-up text-md-left">
             <button class="navbar-toggler   " data-toggle="collapse" data-target="#navMenu">&#9776;</button>
          </div>
        </div>
  </div>
</header>
