<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <%- include("head") -%>
  <head>
  <body>

  <!-- header -->
      <%- include("header") -%>
   <!-- /header -->

   <!-- Menu -->
      <%- include("menu") -%>
   <!-- /Menu -->

<!-- inicio -->
<!--breadcrumb -->
    <div id="breadcrumbs-container">
      <div class="container">
        <div class="row">
          <div class="col-xs">
            <nav class="breadcrumb">
            <a class="breadcrumb-item" href="catalogo">Todos los productos</a>
            <a class="breadcrumb-item" href="carrito">Carrito</a>
            <a class="breadcrumb-item" href="datos">Datos Personales</a>
              <span class="breadcrumb-item active">Metodo de pago</span>
            </nav>
          </div>
        </div>
      </div>
    </div>

<!--breadcrumb -->
  
<!-- inicio -->

<!-- formulario-container -->

<div class="formulario-container ">
  <div class="container">
    <div class="producto-carrito card" data-example-id="">
      <form>
      <div class="form-group row">
        <label for="numero-pago" class="col-xs-12 col-md-2 col-form-label">Numéro de Tarjeta</label>
        <div class="col-xs-12 col-md-10">
          <input class="form-control" type="number" id="numero-pago" name="numero-pago">
        </div>
      </div>

      <div class="form-group row">
          <label for="nombre-datos" class="col-xs-12 col-md-2 col-form-label">Nombre del titular de la tarjeta</label>
          <div class="col-xs-12 col-md-10">
          <input type="text" class="form-control" id="nombre-datos" name="nombre-datos" aria-describedby="nombre-help" placeholder="Escribe tu nombre" required>
          <small id="nombre-help" class="form-text text-muted"> Como aparece en la tarjeta</small>
          </div>
      </div>

      <div class="form-group row">
        <label for="vencimiento-pago" class="col-xs-12 col-md-2 col-form-label">Fecha de vencimiento</label>
        <div class="col-xs-12 col-md-10">
          <input class="form-control" type="month" id="vencimiento-pago">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-xs-12 text-xs-center">
          <button type="submit" class="btn btn-primary">Comprar</button>
        </div>
      </div>
      </form>
      </div>
        </div>  

</div>


<!-- / formulario-container -->



<!-- /inicio -->

  <!-- footer -->
  <footer id="footer-container">
    <div class="container ">
      <div class="row text-xs-center text-md-left">
        <div class="col-md-4">
          <form id="suscribeForm" action="#" > <!-- method=¨POST"-->
            <h4 class="text-uppercase">¿Quieres recibir todas las novedades?</h4>
            <div class="form-group">
              <input type="email" class="form-control" id="email" name="email" placeholder="tu@correo.com">
              <small class="form-text text-muted">No compartiremos tu información con nadie más</small>
            </div>
            <button type="submit" class="btn btn-primary form-text"> Suscribirme</button>
          </form>
        </div>
        <div class="col-md-3 offset-md-5 navf">
          <h4> Navegación</h4>
          <ul class="nav">
             <li class="nav-item">
                  <a href="/"" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                  <a href="catalogo" class="nav-link">Productos</a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">FAQ</a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">Quienes Somos</a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link hidden-sm-up">Carrito</a>
                </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <!-- /footer -->
 
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
<%- include("js") -%>

    <!-- JS -->

  </body>
</html>