body{
	font-family: 'Libre Franklin', sans-serif;

}

#header-container{
	background-color: #456F8D;
	color:white;
	padding: .8em;
}

#header-container .navbar-toggler{
	color: white;
}

#menu-container{
	background-color: #f5eeff;
}

a
{
	color: white;
	text-decoration: none;
}
a:hover{
	color:#A0BBCD;
}


.jumbotron{
	margin: 0;
}


#footer-container
{
	background-color:#153F5D;
	color: white;
	padding: 3em 0;
}

#footer-container h4{
	font-size: 16px;
}

@media (max-width: 768px){
	#footer-container [class*="col-"]
	{
		margin-bottom: 2em;
	}
}


#breadcrumbs-container .breadcrumb {
  background-color: #456F8D;
  margin: 1em 0;
}

#breadcrumbs-container .breadcrumb .breadcrumb-item {
	color: #fff;
  
}

#breadcrumbs-container .breadcrumb .breadcrumb-item.active {
  color: #A0BBCD;
}

#breadcrumbs-container .breadcrumb .breadcrumb-item+.breadcrumb-item::before {
  content: "->";
}


#productos-container {
  margin-bottom: 2em;
}

#productos-container .list-group-item-action.active {
  background-color: #2A5675;
  border-color: #153F5D;
}

#productos-container .list-group+.list-group {
  margin-top: 1em;
  margin-bottom: .5em;
}

@media (max-width: 768px) {
  .lista-productos{
	margin-top: 2em;
	}

	.lista-productos .card-img-top{
		width: 100%;
	}
}

.pagination-container {
  margin-bottom: 0 !important;
}

.page-item.active .page-link, .page-item.active .page-link:focus, .page-item.active .page-link:hover {
  background-color: #456F8D;
  border-color: #456F8D;
}

.page-link, .page-link:focus, .page-link:hover {
  color: #456F8D;
}

.btn-primary
{
	background-color: #2A5675;
}


.btn-primary:hover
{
	background-color: #153F5D;
}